.page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;


    .window {
        min-width: 850px;
        max-width: 850px;
    }
}