body {
    width: 300px;
    height: 120px;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 5;
    background-color: unset;
    justify-content: center;
}