.page {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .result {
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
}